/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  
}

h1, h2, h3 {
  color: #161616;
}

p {
  line-height: 1.5;
}

/* Header Styles */
header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

/* Navigation Styles */
.navbar {
  background-color: #272343;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Section Styles */
section {
  padding: 20px 0;
}


section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border: none;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* #contact{
  background-color: #212529;
} */

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  color: #777777;
}

.list-group-item {
  border: none;
  background-color: transparent;
  padding-left: 0;
  margin-bottom: 10px;
}

.list-group-item i {
  margin-right: 10px;
}

/* Skills Section Styles */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-item {
  flex-basis: 50%;
  max-width: 50%;
  padding: 10px;
}

@media (max-width: 768px) {
  .skills-item {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/* Contact Me Section Styles */
.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact-link {
  display: inline-block;
  color: #555555;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #007bff;
}

/* Footer Styles */
footer {
  background-color: #212529;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  
}
footer p{
  color: #ffffff;
}
